<main>
  <div class="div-button d-flex justify-content-end pt-2 pe-2">
    <button (click)="changeMode()" [ngClass]="{'btn-dark bi-moon-stars-fill': flag,'btn-light bi-sun-fill': !flag}" class="btn"><i class="bi"></i></button>
  </div>
  <section>
    <div class="container py-5 py-2">
      <img class="jpgimage" src="../assets/img/emoji_computer.jpg" />
      <div class="col py-5">
        <img class="col-6 col-sm-6 col-md-6 col-lg-6 rounded mb-3 p-1" src="../assets/img/emoji_computer.png" />

        <h5>José Antonio Peño</h5>
        <!-- <p [ngClass]="{'dark-class2': flag,'light-class2': !flag}" class="badge">Full Stack developer</p> -->
        <p class="description">
          This is a website built in Angular
          <img
            class="img-descr1"
            src="../assets/img/angular-logo.png"
          />
          and Bootstrap
          <img
            class="img-descr2"
            src="../assets/img/bootstrap-logo.png"
          /><br />
          All my official links are here! <i class="bi bi-arrow-down-square-fill"></i>
        </p>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let card of arrCards">
          <a href="{{card.url}}" target="_blank"><div [ngClass]="{'light-class2': flag,'dark-class2': !flag}" class="card rounded my-3">
            <div class="left-item">
             <i [ngStyle]="{'color': card.color}" class="bi bi-{{ card.icon.toLocaleLowerCase() }}"></i>
            </div>
            <div class="right-item">
              <p>My {{ card.page }}</p>
            </div>
          </div></a>
        </div>
      </div>
    </div>
  </section>
</main>
<router-outlet></router-outlet>
