/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$myFont: 'Roboto', sans-serif;
$bgDark: black;
$bgDark2: rgb(34, 34, 34);
$bgLight: white;
$bgLight2: rgb(233,233,233);
$textWhite: white;
$textBlack: black;

html body{
  font-family: $myFont;
  background-color: $bgLight2;
}


.dark-class{
  transition: background-color 1s ease-out;
  background-color: black;
  color: white;

}

.dark-class2{
  transition: background-color 2s ease-out;
  background-color: rgb(34, 34, 34);
  color: white;
  box-shadow: 10px 10px 13px -3px rgba(255, 255, 255, 0.22);
}

.light-class{
  transition: background-color 2s ease-out;
  background-color: rgb(233, 233, 233);
  color: black;

}

.light-class2{
  transition: background-color 1s ease-out;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.22);
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bgLight2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $bgDark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 60, 88);
}


